VITE_GTM_ID=GTM-TQ54F4D6
VITE_GA_MEASUREMENT_ID=G-9QXNJJQV9N
VITE_META_PIXEL_ID=
VITE_LINKEDIN_INSIGHT_ID=
VITE_GOOGLE_ADS_ID=
VITE_CLARITY_ID=
VITE_HOTJAR_ID=
VITE_SITE_URL=https://www.zynovax.in
RESEND_API_KEY=re_your_api_key_here
VITE_CAL_EMBED_URL=https://cal.com/zynovax/book-strategy-call
